*{
    margin: 0%;
    padding: 0%;
}

.Header{
    display:block;
    margin: auto;
}

.btn-nav{
}

.carousel-inner{
    background-color: #72bed9;
    height: 80px;
}

.carousel-item{
    position: relative;
    top: 17px;
}
